/**
 * Place your custom styles here.
 */

.view-id-images_have_text thead {
  display: none;
}
.view-id-images_have_text #edit-actions-submit {
  float: right;
}
.view-id-images_have_text .pager {
  display: none;
}

.view-task-transcribe-text thead,
.view-task-transcribe-text .views-field-field-inscription-editable .views-row-edit-static {
  display: none;
}
.view-task-transcribe-text #edit-actions-submit {
  float: right;
}